@media screen and (max-width: 1400px) {
  .header__menu {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 0px;
    top: 0px;
    font-size: 20px;
    background-color: #0081C8;
    padding-top: 77px;
  }
  .header__menu ul {
   display: flex;
   flex-direction: column;
  }
  .header__menu ul li, .header__menu ul li + li {
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .header__menu ul li a, .header__menu ul li + li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  .header__menu .header__call {
    margin: 0 0 50px 40px;
    padding: 19px 68px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: solid 1px #fff;
  }

  .menu-close {
    display: block;
    position: absolute;
    top: 19px;
    right: 30px;
    background: none;
  }

  .header__menu-btn {
    display: block;
  }

  .header__box {
    display: none;
  }

  .header__connection {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (max-width: 1330px) {
  .container.decor::before {
    content: none;
  }

  .container.decor::after {
    content: none;
  }
}
@media screen and (max-width: 1172px) {
  .reverse {
    order: 0;
  }

  .service__item {
    flex-direction: column;
  }
  .service__item-cta {
    padding-top: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .service__item-btn {
    margin-top: 45px;
    order: 2;
    width: 270px;
    text-align: center;
    margin: 45px auto 22px;
  }
}
@media screen and (max-width: 1172px) {
  .service__calculate-box::before {
    top: -50px;
    left: 0px;
  }
  .service__calculate-box::after {
    bottom: 10px;
    right: 0px;
  }
}
@media screen and (max-width: 1096px) {
  .kind__inner {
    flex-direction: column;
    text-align: center;
  }

  .kind__box {
    padding-top: 35px;
  }

  .kind-description {
    margin: 0px auto;
  }

  .kind-title {
    padding-top: 17px;
  }

  .kind-cta {
    padding-top: 0px;
  }
  .kind-cta img {
    display: inline;
  }

  .kind-btn {
    margin-top: 35px;
  }

  .kind-more {
    margin-top: 35px;
  }
}
@media screen and (max-width: 1032px) {
  .founder__inner {
    flex-direction: column;
    align-items: center;
  }

  .founder__box {
    order: 2;
    margin-top: 51px;
  }

  .founder-img-box {
    padding: 0 49px 0 70px;
  }

  .post-footer ul {
    justify-content: center;
    text-align: center;
    padding: 0px 0 24px;
    border-top: none;
  }
  .post-footer ul li {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 900px) {
  .offer .offer__description {
    font-size: 16px;
  }
  .offer .offer__title h1 {
    font-size: 36px;
    line-height: 40px;
    padding: 0 30px;
  }

  .slider__item-box {
    padding-left: 70px;
    background-image: url(../images/content/quote-mobile.svg);
  }
}
@media screen and (max-width: 781px) {
  .news__item {
    margin-left: 32px;
  }
}
@media screen and (max-width: 566px) {
  .form__box p {
    padding-top: 18px;
    width: 100%;
    text-align: center;
  }

  .footer-box {
    justify-content: center;
    padding-bottom: 29px;
  }
}
@media screen and (max-width: 476px) {
  .offer {
    background-image: url(../images/content/bg-offer-mobile.jpg);
  }
  .offer .offer__description {
    font-size: 16px;
  }
  .offer .offer__title h1 {
    font-size: 28px;
    line-height: 33px;
  }

  .service__item-wrapper {
    width: 341px;
  }
  .service__item-title h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .service__item-text {
    font-size: 14px;
  }

  .service__calculate-box::before {
    background-size: contain;
    height: 42px;
    width: 42px;
    top: -20px;
    left: 0px;
  }
  .service__calculate-box::after {
    background-size: contain;
    width: 28px;
    height: 44px;
    bottom: 67px;
  }
  .service__calculate-title {
    font-size: 20px;
  }
  .service__calculate-button {
    margin-top: 45px;
    padding: 20px 88px;
  }

  .benefits__item {
    flex-direction: row;
    align-items: center;
  }

  .benefits__item-img {
    padding: 24px 25px 26px 28px;
  }
  .benefits__item-img img {
    display: inline;
    width: 67px;
    height: 66px;
    object-fit: contain;
  }

  .benefits__item-text {
    margin: 0 11px 0 0;
    max-width: 208px;
    text-align: left;
  }

  .title {
    font-size: 16px;
  }

  .founder {
    padding-top: 25px;
  }

  .founder-title h3 {
    font-size: 24px;
  }

  .founder-text {
    font-size: 14px;
  }

  .founder-img-box {
    font-size: 16px;
  }
  .founder-img-box span {
    padding-top: 27px;
  }

  .kind__inner {
    padding: 46px 0;
  }

  .kind-title h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .kind-btn {
    padding: 20px 90px;
  }

  .kind-more {
    padding-left: 0px;
  }

  .slider {
    padding: 45px 0 38px;
  }

  .slider__item-box {
    margin: 23px auto 0;
  }

  .slider__item-text {
    font-size: 16px;
  }

  .slider__item-author {
    padding-top: 20px;
  }

  .slider__item-author-box {
    font-size: 14px;
  }

  .news__item {
    margin-left: 0px;
    margin-top: 20px;
  }

  .news {
    padding: 37px 0 46px;
  }

  .news__item + .news__item {
    margin-left: 0px;
    margin-top: 32px;
  }

  .news__btn {
    margin-top: 40px;
  }

  .faq {
    padding: 28px 0 47px;
  }

  .faq__item-title {
    font-size: 16px;
  }

  .faq__item-text {
    font-size: 16px;
  }

  .form {
    padding: 0 0 42px;
  }
  .form__title {
    padding-top: 49px;
  }
  .form__title h2 {
    line-height: 130%;
    font-size: 26px;
  }
  .form__box {
    padding-top: 40px;
  }
  .form__box input {
    margin-bottom: 30px;
  }
  .form__box button {
    padding: 20px 120px;
  }

  .footer {
    text-align: center;
  }

  .footer-box {
    justify-content: center;
    padding-bottom: 29px;
  }
  .footer-box li.footer__item {
    padding-top: 30px;
  }

  .footer-nav li + li {
    padding-top: 22px;
  }

  .footer-contact li + li {
    padding-top: 25px;
  }
  .footer-contact li + li .email {
    padding-bottom: 10px;
  }
  .footer-contact li ul li + li {
    padding-top: 10px;
  }

  .footer-social .social {
    order: 2;
  }
  .footer-social ul {
    padding-bottom: 0px;
  }
  .footer-social li {
    padding-bottom: 10px;
  }

  .post-footer {
    font-size: 14px;
    line-height: 17px;
  }
  .post-footer ul {
    justify-content: center;
    text-align: center;
    padding: 0px 0 24px;
    border-top: none;
  }
  .post-footer ul li {
    padding-bottom: 22px;
  }
  .post-footer ul li + li {
    margin-left: 20px;
  }
}